services:
  gateway.api:
    image: ${DOCKER_REGISTRY-}gatewayapi
    build:
      context: Gateway/Gateway.API
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
      - "5001:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - proxybackend

  customer.api:
    image: ${DOCKER_REGISTRY-}customerapi
    build:
      context: Services/Customer.API
      dockerfile: Dockerfile
    ports:
      - "5100:8080"
      - "5101:8081"
    depends_on:
      - customer.db
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - proxybackend
    restart: on-failure

  customer.db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=P@ssw0rd#d3v
    ports:
      - "1433:1433"
    networks:
      - proxybackend

networks:
  proxybackend:
    name: proxybackend
    driver: bridge

